body {
	font-family: 'Minecraft', sans-serif;
	background-image: url("/styles/images/background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #00ff00;
	text-align: center;
	padding: 100px 20px;
	margin: 0;
  }
  
h1 {
	color: #00ff00;
}
.container {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 40px;
	border: 4px solid #00ff00;
	border-radius: 15px;
	display: inline-block;
	max-width: 400px;
	width: 100%;
	box-shadow: 0 0 20px #00ff00;
	text-align: center;
}

p {
	font-size: 16px;
}
p strong {
	color: #12a8ca;
}
.error {
	color: red;
	font-weight: bold;
}
img {
	margin-top: 15px;
	border: 2px solid #00ff00;
	border-radius: 15px;
	box-shadow: 0 0 10px #00ff00;
	width: 75%;
	height: auto;
}
